<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orlando Lopez | UF Computer Science Student</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<!--TODO MAKE website not break when you scale-->
<!--TODO also make sure it runs on most devices-->
<!--TODO Clear images from about me, clean up-->

<body>

        <nav class="navbar">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
         </nav>
        <header class="hero">
            <div class="hero-container">
                <div class="hero-text">
                    <h1>Orlando Lopez</h1>
                    <h4>Computer Science Student</h4>
                </div>
            </div>
        </header>

        <div class="about" id="about">
            <h1>About Me</h1>
<!--            TODO format blocks bullet style or like block 4-->
            <div class="about-container">
                <div class="block">
<!--                    <img src="../static/computer-logo.jpeg" alt="computer logo">-->
                    <br>
                    <h2>Computer Science Major</h2>
                    <br>
                    <h3>Classes Taken:</h3>
                    <p>Data Structures and Algorithms</p>
                    <br>
                    <p>Programming 1 & 2</p>
                    <br>
                    <p>Intro to Computer Org</p>
                    <br>
                    <p>Intro to Software Engineering</p>

                    <br>

                </div>
<!--                <div class="block">-->
<!--&lt;!&ndash;                    <img src="../static/interests.jpg" alt="books, dumbbells, game controller" class="block1_image" >&ndash;&gt;-->
<!--                    <br>-->
<!--                    <h2>Some of my Interests</h2>-->
<!--                    <br>-->
<!--                    <p>I enjoy reading books for a well written story or for any topic of interest.-->
<!--                        I'm also into gaming and weightlifting. [Adjust later]</p>-->
<!--                </div>-->
                <div class="block">
<!--                    <img src="../static/placeholder.jpg" alt="circle" class="block1_image">-->
                    <br>
                    <h2>Personal <br>Details</h2>
                    <br>
                    <h3>Name:</h3>
                    <p>Orlando Lopez</p>
                    <br>
                    <h3>Age:</h3>
                    <p>20 years old</p>
                    <br>
                    <h3>Location:</h3>
                    <p>Gainesville, Florida</p>
                    <br>
                    <h3>Email:</h3>
                    <p>Orlando.Lopez@ufl.edu</p>
                </div>
            </div>
        </div>


<!--TODO Consider changing the font-->
<!--TODO Consider adding a shadow to create depth-->
        <div class="skills" id="skills">
            <h1>My Skills</h1>
            <div class="skills-container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>Technical Skills</h3>
                <br>
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                <br>
                <h3>Microsoft Office</h3>
                <br>
                    <ul>
                        <li>Word</li>
                        <li>PowerPoint</li>
                        <li>Excel</li>
                    </ul>
                <br>
                <h3>Bilingual</h3>
                <br>
                <ul>
                    <li>English</li>
                    <li>Spanish</li>
                </ul>

                <br>
                <h3>Other</h3>
                <br>
                <ul>
                    <li>Adaptability</li>
                    <li>Problem solving </li>
                    <li>Teamwork </li>
                    <li>Communication</li>
                </ul>
                </div>
        </div>

        <div class="projects" id="projects">
            <h1>My Projects</h1>
            <div class="experience-container">
                <br>
                <h3>Pathfinder Visualizer</h3>
                <p>Tool to learn algorithms like breadth first search and A* search by seeing how it functions on a board with customizable tiles</p>
                <br>
                <p>Developed with python using the pygame library</p>
                <br>
                <p>Used Figma to design the general layout of the GUI</p>
                <br>
                <h3>AVL Tree</h3>
                <p>Developed a self-balancing binary search tree from scratch using C++</p>
                <br>
                <h3>Minesweeper</h3>
                <p>Created a game loop with event listeners which lets the user interact with the window using Python and Pygame</p>


            </div>

        </div>
        <div class="experience" id="experience">
            <h1>Experience</h1>
            <div class="experience-container">
                <br>
                <h3>Internship at Southwest Miami Senior High School <br>
                    (5 weeks 2019)
                </h3>
                <br>
                <p> Worked with a team of interns to assist school faculty with general tasks</p>
                <br>
                <ul>
                    <h3>Developed Skills:</h3>
                    <li>Teamwork</li>
                    <li>Organization</li>
                    <li>Communication</li>
                </ul>
            </div>

        </div>


    <footer class="contact" id="contact">
        <table>
            <tr>
                <td style="font-size: 2vw;"><img src="../static/outlook.svg" alt="outlook logo"> Contact me at: orlando.lopez@ufl.edu</td>
                <td style="font-size: 2vw;">
                    <a href="https://github.com/OrlandoLopez1">
                        <img src="../static/github-icon.svg" alt="github icon" target="_blank"  rel="noopener noreferrer">
                </a>
                    Github: OrlandoLopez1
                </td>
            </tr>
        </table>

    </footer>


</body>
</html>